	<!--================ Start Newsletter Area =================-->
	<section class="newsletter_area">
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-12">
					<div class="subscription_box text-center">
						<h2 class="text-uppercase text-white">get update from anywhere</h2>
						<p class="text-white">
							Bearing Void gathering light light his eavening unto dont afraid. 
						</p>
						<!-- {{diagnostic}} -->
						
						<div class="subcribe-form" id="mc_embed_signup">
							<form #newsletterForm="ngForm" class="subscription relative">
								<input type="text" required placeholder="Email address"  autocomplete="off"
								id="email" [(ngModel)]="newsletter.email" name="email" #email="ngModel"
								onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" type="email">
								<!-- <div [hidden]="email.valid || name.pristine" class="alert alert-danger"> Name is required</div> -->
								<button class="primary-btn hover d-inline" [disabled]="!newsletterForm.form.valid" (click)="createNewsletter()">Get Started</button>
								<div class="info"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Newsletter Area =================-->
