<app-banner></app-banner>
<app-about></app-about>
<app-brand></app-brand>
<app-services></app-services>
<app-portfolio></app-portfolio>
<app-testimonial></app-testimonial>
<app-newsletter></app-newsletter>